[Desktop Entry]
Categories=GNOME;GTK;Game;LogicGame;
Comment=Играйте в игры, которые проверят ваши способности к логике, рассуждению, вычислению и запоминанию.
Exec=gbrainy
GenericName[ru_RU]=Игра
GenericName=Game
Icon=gbrainy
Keywords=game;logic;memory;teaser;brain;verbal;calculation;
Name=GBrainy
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Product=gbrainy
X-GNOME-Bugzilla-Version=@VERSION@
X-KDE-SubstituteUID=false
X-KDE-Username=
