[Desktop Entry]
Comment=
Exec=sudo msfconsole
Icon=Metasploit
Name=Metasploit
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
