[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Type=Service
MimeType=all/all
Actions=EditFromRoot
Icon=clamav

[Desktop Action EditFromRoot]
Name=Edit from root
Name[ru]=ClamAV
Icon=clamav
Exec=konsole --hold -e sudo clamscan -ir